{% extends "base.html" %}
{% block content %}
<h2>Products</h2>
<div class="grid">
  {% for p in products %}
  <div class="card">
    <h3>{{ p['name'] }}</h3>
    <p class="muted">{{ p['category'] }}</p>
    <p>Price: ₹{{ p['price'] }}</p>
    <p>Stock: {{ p['stock'] }}</p>
    <form method="post" action="/add_to_cart">
      <input type="hidden" name="product_id" value="{{ p['id'] }}">
      <input type="number" name="qty" value="1" min="1" max="{{ p['stock'] }}">
      <button class="btn">Buy / Add to Cart</button>
    </form>
  </div>
  {% endfor %}
</div>
{% endblock %}
